.homePage{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    min-height: 98%;

    position:relative;
    
//     -webkit-box-shadow: 22px 94px 131px -64px rgba(255,255,255,1);
// -moz-box-shadow: 22px 94px 131px -64px rgba(255,255,255,1);
// box-shadow: 22px 94px 131px -64px rgba(255,255,255,1);
-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}