
.greenClass{
  color: green;

}
.redClass{
  color: red;
}
.blackClass{
  color: black;
}
form{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}


// table
.tbContent{
    max-height:300px;
    overflow: auto;
    border: 1px solid rgba(255,255,255,0.3);
}

/* Table Styles */
/* Định dạng cho bảng dữ liệu*/
table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    border: 1px solid #ddd;
}
/* Định dạng cho các cột*/
th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

thead th { position: sticky; top: 0; 

    background-color: #F1B75F;}
/* Tạo thanh sroll ngang nếu chiều dài nội dung quá lớn*/
#table {
  overflow-x: auto;
  max-height: 400px;
   width: 100%;
}
/* Thiết lập màu nền cho các ô*/
tr:nth-child(even){
  background-color: #FFECA8;
}
tr:nth-child(odd) {
  background: #F7F5AF;
}
/* Responsive */

@media (max-width: 767px) {
    #table {
        overflow-x: auto;
        max-height: 400px;
        max-width: 400px;
      }
}


// scroll

 /* width */
 ::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: gray; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: aqua; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #38bdff;
  }

  .btnClick:focus,.btnClick:active {
    outline: none !important;
    box-shadow: none;
  }

  ::ng-deep .mat-form-field-infix {
    width: auto !important;
    padding: 0px 0 !important;
    border-top: 0px solid transparent !important;
  }
  .mat-form-field-infix{
      display: block;
      position: relative;
      flex: auto;
      padding: 0;
      border-top: 0px solid transparent !important;
  }