
$color_072884 :  #032ea3;
$color_0b3cb1 : #032ea3;
$color_2a34ff : #2a34ff;
.not-focusable:focus {
    outline: none;
    box-shadow: none;
}
.iconUser{
    float: left;
    height: 40px;
    text-transform: uppercase;
    background-image: url(/assets/image/user.png);
    background-position: left center;
    background-repeat: no-repeat;
    margin-right: 20px;
    padding-left: 45px;
    a{
        text-decoration: none;
        color: white;
        font-family:'UTM Avo';
        height: 100%;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        cursor: pointer;
        
    }
    span{
        color: white;
        font-family:'UTM Avo';
        height: 100%;
    
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        cursor: pointer;
    }
  a:hover{
      color: red;
  }
}
.language{
    display: table-cell;
  vertical-align: middle;
    height: 40px;
    color: white;
    padding-left: 20px;
    img{
        
        height: auto;
        vertical-align:middle;
        margin-right: 10px;
    }
    span{
        vertical-align:middle;
        
    }
    :hover{
        cursor: pointer;
    }
}

div.active {
    background-color: $color_2a34ff;
    color: red;
    cursor: not-allowed;
  }