<div class="homePage">
  <div class="row no-gutters">
    <img class="img-fluid" width="100%" src="assets/image/banner.png" />
  </div>
  <div class="container selectFunction">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li class="item_1" >通報輸入</li>
          <li class="item_2" (click) ="gotoShuru()"><a>宿舍設備異常通報</a></li>
          <li class="item_2" (click) ="gotochaxun()"><a>宿舍設備異常查詢</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <ul>
          <li class="col-12" style="border-bottom:1px #222222 solid; padding-left: 0px !important "><a
              class="col-4 item_1">公佈欄</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="inside col-md-2 col-sm-6" >
    <div class="row" >
      <div class="col-5 text-center">
        <a href="">操作手冊</a>
      </div>
      <span class="text-center" style="color: blue">|</span>
      <div class="col-5 text-center">
          <a href="">IE設定</a>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 5px">
      
      <button class="col-3 botton">管理</button>
    </div>
  </div>
</div>