<footer>
  <div class="container">
    <div class="row no-gutters">
    
        <div class="col-lg-5 mx-auto">
          <div class="col-12 ">
              <img class="img-fluid" src="assets/image/footer-logo.png" />
          </div>
          <div class="row">
            <div class="col-6">
              <span>
                  系統管理部門： 管理處管理二課|吳忠a 高級管理師|專線：6630
              </span>
            </div>
            <div class="col-6">
                <span> 系統維護部門： 保養中心專業保養廠資訊系統組| 服務專線：6213, 6214</span>
              </div>
          </div>
        </div>
        
      </div>
  </div>

</footer>