/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import './assets/admin.scss';
html,body{
    margin:0;
    padding:0;
    height:100%;
    background: rgb(217,151,17);
    background: radial-gradient(circle, rgba(217,151,17,1) 20%, rgba(217,118,17,1) 80%);
}

          /* width */
          ::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            background: #1a607e; 
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: #1491d0; 
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #38bdff;
          }
          